<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime | Template</title>

    <!-- Google Font -->
    <link th:href="@{https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap}" rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap}"
          rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/plyr.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <div th:insert="~{header.html}"></div>
    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="../home"><i class="fa fa-home"></i> Trang chủ</a>
                        <a href="../actors">Diễn viên</a>
                        <span>Thêm mới</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="product__page__title">
                    <div class="section-title">
                        <h4>Thêm diễn viên</h4>
                    </div>
                </div>
                <div class="blog__details__form">
                    <h4 style="margin-left: 100px;">Thông tin diễn viên</h4>
                    <form action="/actors/add" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-2">
                            </div>
                            <div class="col-lg-7">
                                <div class="col-lg-7 col-md-7 col-sm-7">
                                    <label style="color: #ffffff;">Tên:</label>
                                    <input type="text" name ="name"placeholder="Name">
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7">
                                    <div class="row">
                                        <label for="male"
                                            style="color: #ffffff;margin-right: 10px;margin-left: 15px;">Giới tính:
                                        </label>
                                        <div>
                                            <input type="radio" id="male" name="gender" value="0" checked
                                                style="height: 20px;" />

                                        </div>
                                        <h5 style="color: #ffffff;margin-right: 10px;"> Nam</h5>
                                        <div>
                                            <input type="radio" id="female" name="gender" value="1"
                                                style="height: 20px;" />
                                        </div>
                                        <h5 style="color: #ffffff;margin-right: 10px;"> Nữ</h5>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7">
                                    <label style="color: #ffffff;">Ngày sinh:</label>
                                    <input type="date" name="birthday" placeholder="Birthday">
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7">
                                    <label style="color: #ffffff;">Quốc gia:</label>
                                    <input type="text" placeholder="Country" name ="country" list="ide">
                                    <datalist id="ide">
                                        <option th:each="c:${listCountry}" th:value="${c}" />
                                    </datalist>
                                </div>



                                <div class="col-lg-12">
                                    <label style="color: #ffffff;">Mô tả:</label>
                                    <textarea name="describe" placeholder="Message"></textarea>
                                </div>

                            </div>
                            <div class="col-lg-3">
                                <div class="anime__details__pic set-bg" id="imagePreview" data-setbg="../../img/actors/default.png" style="height:350px;">
                                </div>
                                <br>
                                <div class="row">
                                    <input type="file" name="imageInput" id="imageFile" onchange="previewImage(this)" style="background:none;" >
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <button type="submit" class="site-btn">Thêm mới</button>
                        </div>

                    </form>
                </div>



            </div>
        </div>
        </div>
    </section>
    <!-- Anime Section End -->

    <!-- Footer Section Begin -->
    <div th:insert="~{footer.html}"></div>
    <!-- Search model end -->
    <script>
        function previewImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                // Đặt hình ảnh xem trước vào phần tử có id là "imagePreview"
                document.getElementById('imagePreview').style.backgroundImage = 'url(' + e.target.result + ')';
            }

            reader.readAsDataURL(input.files[0]); // Đọc dữ liệu hình ảnh dưới dạng URL
        }
    }
        </script>

    <!-- Js Plugins -->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/player.js}"></script>
    <script th:src="@{/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/mixitup.min.js}"></script>
    <script th:src="@{/js/jquery.slicknav.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/custom.js}"></script>

</body>

</html>




