<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Movie</title>


    <!-- Google Font -->
    <link th:href="@{https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap}" rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap}"
          rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/plyr.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js}"></script>
    <style>
        /* Định dạng cho form */
       #checkboxCategory {
            display: none;

            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7); /* Màu nền mờ khi form xuất hiện */
            z-index: 1000;
        }
        .form-content {
            position: absolute;
            top: 50%;
            left: 50%;
             max-width: 600px;
             max-height: 400px;
             overflow: auto;
            transform: translate(-50%, -50%);
            background-color: black;
            color : while;
            padding: 20px;
            border: 1px solid #ccc;
        }
        .form-header {
            display: flex;
            color: white;
            justify-content: space-between;
            align-items: center;
        }
        .form-header h2 {
            margin: 0;
            color: white;
        }
        /* Định dạng cho danh sách mục đã chọn */
        #selected-items {
            display: none;
        }
          #checkboxLanguage {
           display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7); /* Màu nền mờ khi form xuất hiện */
            z-index: 1000;

        }
        #checkboxActor {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7); /* Màu nền mờ khi form xuất hiện */
            z-index: 1000;
        }
        #checkboxCompany {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7); /* Màu nền mờ khi form xuất hiện */
            z-index: 1000;
        }
    </style>
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<div th:insert="~{header.html}"></div>
<!--header-->

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./home.html"><i class="fa fa-home"></i> Home</a>
                    <a href="./movie-details.html">Movie</a>
                    <span>Add Movie</span>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Anime Section Begin -->
<section class="anime-details spad">
    <div class="container">
        <form method="post" th:action="@{/AddMovie/add}" enctype="multipart/form-data">
        <div class="anime__details__content">

            <div class="row">

                <div class="col-lg-3">

                    <div class="anime__details__pic set-bg" id="image-movie" th:data-setbg="@{img/movie/default-movie.jpg}"></div>
                    <div class="anime__details__btn" style="display: flex; justify-content: center; margin-top: 10px;">
                        <input type="file" id="image-input"  name="image-input" accept="image/*" style="display: none;">
                        <a href="#" onclick="openImageDialog()" class="follow-btn"><i class="fa fa-file-image-o"></i> Chọn Ảnh</a>
                    </div>

                    <script>
                        function openImageDialog() {
                            const imageInput = document.getElementById("image-input");
                            imageInput.click();

                            imageInput.addEventListener("change", function () {
                                const imageContainer = document.getElementById("image-movie");
                                const file = imageInput.files[0];

                                if (file) {
                                    const reader = new FileReader();

                                    reader.onload = function (e) {
                                        const newImageUrl = e.target.result;
                                        imageContainer.style.backgroundImage = `url(${newImageUrl})`;
                                    };

                                    reader.readAsDataURL(file);
                                }
                            });
                        }
                    </script>

                </div>
                <div class="col-lg-9">
                    <div class="anime__details__text">
                        <div class="anime__details__title">
                            <h4>
                                <div class="input__item" style="display: flex; justify-content: flex-start;align-items: flex-start;color: white;">
                                    <label for="movieName"  style="width:fit-content; margin-right: 10px;">Tên phim :   </label>
                                    <input type="text" id ="movieName" name ="movieName" style="flex: 1;border-radius: 10px;margin-left: 95px;" required>
                                </div>
                            </h4>

                        </div>
                        <div class="anime__details__widget">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <h5 style="color:white">Công ty:</h5>
                                        </div>

                                        <a href="#" style="max-height: 30.8px;border: 3px solid #fff; padding: 1px; text-decoration: none;color : #fff; margin-right: 10px; margin-left: 15px" id="openFormCompany" >Chọn</a>
                                        <div id="checkboxCompany">
                                            <div class="form-content">
                                                <div class="form-header">
                                                    <h2 style=" margin-right: 10px">Chọn công ty</h2>
                                                    <a href="#" id="close-form-Company-button" style="border: 3px solid #fff;border-radius: 50%; padding: 10px; text-decoration: none;color : #fff" >X</a>
                                                </div>
                                                <div id="checkboxCompany-options">

                                                </div>
                                                <input type="text" id="company-movie" name="company-movie" hidden="hidden" required>
                                                <div class="row" style="justify-content: center; align-items: center;margin-top:20px; ">
                                                <a href="#"  id="submitCompany-button" style="border: 3px solid #fff; padding: 5px; text-decoration: none;color : #fff">Chọn xong</a>
                                                </div>
                                                <p class="error-Company" id="error-Company" hidden="hidden" ></p>
                                            </div>
                                        </div>

                                        <span>
        <div id="selected-Company-options" style="color: white; display: flex;width:500px;margin-right : 10px"></div>
    </span>

                                    </div>
                                    <br>

                                    <script th:inline="javascript">
                                        // Lấy tham chiếu đến các phần tử DOM
                                        const openFormCompanyButton = document.getElementById('openFormCompany');
                                        const checkboxCompanyForm = document.getElementById('checkboxCompany');
                                        var checkboxCompanyOptions = $("#checkboxCompany-options");
                                        const submitCompanyButton = document.getElementById('submitCompany-button');
                                        const selectedCompanyOptions = document.getElementById('selected-Company-options');
                                        const errorCompanyMessage = document.getElementById('error-Company');
                                        const closeFormCompanyButton = document.getElementById('close-form-Company-button');

                                        // Danh sách lựa chọn đã có
                                         const existingCompanyOptions = [[${companies}]];
                                         selectedCompanyOptions.textContent = 'Vui lòng chọn ít nhất 1 công ty.';
                                        // Lặp qua danh sách lựa chọn đã có và tạo các checkbox tương ứng
                                        checkboxCompanyOptions.empty();
                                        existingCompanyOptions.forEach((option, index) => {

                                            var labelCompany = $('<h5>');
                                            labelCompany.attr('style', 'color:white;margin-top:10px');
                                            labelCompany.html(option.name);
                                            var checkbox = $('<input>');
                                            checkbox.attr('style', 'margin-left: 10px');
                                            checkbox.attr('type', 'checkbox');
                                            checkbox.attr('name', option.companyId);
                                            checkbox.attr('value', option.name);




                                            console.log(option.companyId);
                                            console.log(option.name);
                                            labelCompany.append(checkbox);
                                            checkboxCompanyOptions.append(labelCompany);

                                            // Thêm dòng mới trừ trường hợp cuối cùng

                                        });



                                        // Xử lý sự kiện khi người dùng nhấn nút "Mở Form"
                                        openFormCompanyButton.addEventListener('click', () => {
                                            checkboxCompanyForm.style.display = 'block';

                                            // Cập nhật danh sách checkbox
                                            updateCheckboxList();

                                        });

                                        // Xử lý sự kiện khi người dùng nhấn nút "Đóng"
                                        closeFormCompanyButton.addEventListener('click', () => {
                                            checkboxCompanyForm.style.display = 'none';
                                        });

                                        // Xử lý sự kiện khi người dùng nhấn nút "Chọn xong"
                                        submitCompanyButton.addEventListener('click', (e) => {
                                            e.preventDefault();

                                            // Lấy danh sách các ô đánh dấu đã được chọn
                                            const selectedCompanyCheckboxes = checkboxCompanyForm.querySelectorAll('input[type="checkbox"]:checked');

                                            // Lặp qua các ô đánh dấu đã chọn và lưu giá trị vào mảng
                                            const selectedValuesCompany = [];
                                            const selectedIdCompany = [];
                                            selectedCompanyCheckboxes.forEach((checkbox) => {
                                                selectedValuesCompany.push(checkbox.value);
                                                selectedIdCompany.push(checkbox.name);

                                            });

                                            // Hiển thị các giá trị đã chọn lên trang web
                                            if (selectedValuesCompany.length === 0) {
                                                selectedCompanyOptions.textContent = 'Vui lòng chọn ít nhất 1 công ty.';
                                            } else {
                                                selectedCompanyOptions.textContent = selectedValuesCompany.join(', ');
                                            }
                                            //selectedCompanyOptions.textContent = selectedValuesCompany.join(', ');
                                            var inputElement = document.getElementById("company-movie");
                                            inputElement.value = selectedIdCompany;
                                            // Ẩn form đi sau khi hoàn thành

                                            checkboxCompanyForm.style.display = 'none';
                                        });

                                        // Cập nhật danh sách checkbox
                                        function updateCheckboxList() {
                                            // Xóa tất cả các checkbox hiện có
                                            checkboxCompanyOptions.innerHTML = '';

                                            // Thêm các checkbox từ danh sách đã có
                                            existingCompanyOptions.forEach((option) => {
                                                var labelCompany = document.createElement('h5');
                                                const checkbox = document.createElement('input');
                                                checkbox.type = 'checkbox';
                                                checkbox.name = option;
                                                checkbox.value = option;
                                                labelCompany.append(checkbox, document.createTextNode(option));
                                                checkboxCompanyOptions.append(labelCompany);
                                            });

                                        }
                                    </script>

                                    <br>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <h5 style="color:white">Lịch Chiếu :</h5>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6">
                                            <div class="product__page__filter">
                                                <select id = "movieSchedule" name="movieSchedule">
                                                    <option id= "Sunday" name="Sunday" value="1">Chủ Nhật</option>
                                                    <option id= "Monday" name="Monday" value="2">Thứ Hai</option>
                                                    <option id= "Tuesday" name="Tuesday" value="3">Thứ Ba</option>
                                                    <option id= "Wednesday" name="Wednesday" value="4">Thứ Tư</option>
                                                    <option id= "Thursday" name="Thursday" value="5">Thứ Năm</option>
                                                    <option id= "Friday" name="Friday" value="6">Thứ Sáu</option>
                                                    <option id= "Saturday" name="Saturday" value="7">Thứ Bảy</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <h5 style="color:white">Ngôn Ngữ:</h5>
                                        </div>

                                            <a href="#" style="max-height: 30.8px;border: 3px solid #fff; padding: 1px; text-decoration: none;color : #fff; margin-right: 10px; margin-left: 15px" id="openFormLanguage">Chọn</a>
                                            <div id="checkboxLanguage">
                                                <div class="form-content">
                                                    <div class="form-header">
                                                        <h2 style=" margin-right: 10px">Chọn ngôn ngữ </h2>
                                                        <a href="#" id="close-form-language-button" style="border: 3px solid #fff;border-radius: 50%; padding: 10px; text-decoration: none;color : #fff" >X</a>
                                                    </div>
                                                    <div id="checkboxLanguage-options">

                                                    </div>
                                                    <input type="text" id="language-movie" name="language-movie" hidden="hidden" required>
                                                    <div class="row" style="justify-content: center; align-items: center;margin-top:20px; ">
                                                        <a href="#"  id="submitLanguage-button" style="border: 3px solid #fff; padding: 5px; text-decoration: none;color : #fff">Chọn xong</a>
                                                    </div>
                                                    <p class="error-language" id="error-language" hidden="hidden" ></p>
                                                </div>
                                            </div>

                                         <span>
                                            <div id="selected-language-options" style="color: white;display: flex;width:500px;margin-right : 10px"></div>
                                        </span>

                                    </div>
                                    <br>

                                        <script th:inline="javascript">
                                            // Lấy tham chiếu đến các phần tử DOM
                                            const openFormLanguageButton = document.getElementById('openFormLanguage');
                                            const checkboxLanguageForm = document.getElementById('checkboxLanguage');
                                            var checkboxLanguageOptions = $("#checkboxLanguage-options");
                                            const submitLanguageButton = document.getElementById('submitLanguage-button');
                                            const selectedLanguageOptions = document.getElementById('selected-language-options');
                                            const errorLanguageMessage = document.getElementById('error-language');
                                            const closeFormLanguageButton = document.getElementById('close-form-language-button');

                                            // Danh sách lựa chọn đã có
                                             const existingLanguageOptions = [[${languages}]];
                                               selectedLanguageOptions.textContent = 'Vui lòng chọn ít nhất 1 ngôn ngữ.';
                                            // Lặp qua danh sách lựa chọn đã có và tạo các checkbox tương ứng
                                            checkboxLanguageOptions.empty();
                                            existingLanguageOptions.forEach((option, index) => {

                                                var labelLanguage = $('<h5>');
                                                labelLanguage.attr('style', 'color:white;margin-top:10px');
                                                labelLanguage.html(option.name);
                                                var checkbox = $('<input>');
                                                checkbox.attr('style', 'margin-left: 10px');
                                                checkbox.attr('type', 'checkbox');
                                                checkbox.attr('name', option.language_id);
                                                checkbox.attr('value', option.name);




                                                console.log(option.language_id);
                                                console.log(option.name);
                                                labelLanguage.append(checkbox);
                                                checkboxLanguageOptions.append(labelLanguage);

                                                // Thêm dòng mới trừ trường hợp cuối cùng

                                            });



                                            // Xử lý sự kiện khi người dùng nhấn nút "Mở Form"
                                            openFormLanguageButton.addEventListener('click', () => {
                                                checkboxLanguageForm.style.display = 'block';

                                                // Cập nhật danh sách checkbox
                                                updateCheckboxList();
                                            });

                                            // Xử lý sự kiện khi người dùng nhấn nút "Đóng"
                                            closeFormLanguageButton.addEventListener('click', () => {
                                                checkboxLanguageForm.style.display = 'none';
                                            });

                                            // Xử lý sự kiện khi người dùng nhấn nút "Chọn xong"
                                            submitLanguageButton.addEventListener('click', (e) => {
                                                e.preventDefault();

                                                // Lấy danh sách các ô đánh dấu đã được chọn
                                                const selectedLanguageCheckboxes = checkboxLanguageForm.querySelectorAll('input[type="checkbox"]:checked');

                                                // Lặp qua các ô đánh dấu đã chọn và lưu giá trị vào mảng
                                                const selectedValuesLanguage = [];
                                                const selectedIdLanguage = [];
                                                selectedLanguageCheckboxes.forEach((checkbox) => {
                                                    selectedValuesLanguage.push(checkbox.value);
                                                    selectedIdLanguage.push(checkbox.name);

                                                });

                                                // Hiển thị các giá trị đã chọn lên trang web
                                                if (selectedValuesLanguage.length === 0) {
                                                    selectedLanguageOptions.textContent = 'Vui lòng chọn ít nhất 1 ngôn ngữ.';
                                                } else {
                                                    selectedLanguageOptions.textContent = selectedValuesLanguage.join(', ');
                                                }
                                               // selectedLanguageOptions.textContent = selectedValuesLanguage.join(', ');
                                                var inputElement = document.getElementById("language-movie");
                                                inputElement.value = selectedIdLanguage;
                                                // Ẩn form đi sau khi hoàn thành

                                                checkboxLanguageForm.style.display = 'none';
                                            });

                                            // Cập nhật danh sách checkbox
                                            function updateCheckboxList() {
                                                // Xóa tất cả các checkbox hiện có
                                                checkboxLanguageOptions.innerHTML = '';

                                                // Thêm các checkbox từ danh sách đã có
                                                existingLanguageOptions.forEach((option) => {
                                                    const labelLanguage = document.createElement('h5');
                                                    const checkbox = document.createElement('input');
                                                    checkbox.type = 'checkbox';
                                                    checkbox.name = option;
                                                    checkbox.value = option;
                                                    labelLanguage.append(checkbox, document.createTextNode(option));
                                                     checkboxLanguageOptions.append(labelLanguage);
                                                });

                                            }
                                        </script>


                                    <div class="row">

                                    <div class="col-lg-3">
                                        <h5 style="color:white">Quốc gia:</h5>
                                    </div>
                                        <div class="col-lg-9">
                                             <label for="country"></label>
                                               <input type="text" style="border-radius: 10px;" id="country" name="country" list="countryList" required>
                                             <datalist id="countryList">
                                           <!-- Dưới đây, bạn có thể tạo các tùy chọn cho datalist từ danh sách genres -->
                                             <th:block th:each="country : ${countries}">
                                                 <option th:value="${country.name}" th:text="${country.name}"></option>
                                               </th:block>
                                             </datalist>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                    <div class="col-lg-3">
                                        <h5 style="color:white">Thể loại:</h5>
                                    </div>

                                            <a href="#" style="border: 3px solid #fff; padding: 1px; text-decoration: none;color : #fff;margin-right: 10px; margin-left: 15px" id="openFormCategory">Chọn</a>
                                            <div id="checkboxCategory">
                                                <div class="form-content">
                                                    <div class="form-header">
                                                        <h2>Chọn thể loại </h2>
                                                        <a href="#" id="close-form-button" style="max-height: 30.8px;border: 3px solid #fff; padding: 10px;border-radius: 50%; text-decoration: none;color : #fff" >X</a>
                                                    </div>
                                                    <div id="checkboxCategory-options">
                                                    </div>
                                                    <input type="text" id="category-movie" name ="category-movie"   hidden="hidden" required>
                                                    <div class="row" style="justify-content: center; align-items: center;margin-top:20px; ">
                                                        <a href="#"  id="submitCategory-button" style="border: 3px solid #fff; padding: 5px; text-decoration: none;color : #fff">Chọn xong</a>
                                                    </div>
                                                    <p class="error-message" id="error-message" hidden="hidden" ></p>
                                                </div>

                                        </div>
                                            <span>
                                            <div id="selected-options" style="display: flex;width:500px; margin-right : 10px; color : white;"></div>
                                            </span>

                                    </div>

                                        <script th:inline="javascript">
                                            // Lấy tham chiếu đến các phần tử DOM
                                            const openFormButton = document.getElementById('openFormCategory');
                                            const checkboxForm = document.getElementById('checkboxCategory');
                                            var checkboxOptions = $("#checkboxCategory-options");

                                            const submitButton = document.getElementById('submitCategory-button');
                                            const selectedOptions = document.getElementById('selected-options');
                                            const errorMessage = document.getElementById('error-message');
                                            const closeFormButton = document.getElementById('close-form-button');

                                            // Danh sách lựa chọn đã có
                                             const existingOptions = [[${categories}]];
                                            selectedOptions.textContent = 'Vui lòng chọn ít nhất 1 thể loại.';
                                            // Lặp qua danh sách lựa chọn đã có và tạo các checkbox tương ứng
                                            checkboxOptions.empty();
                                            existingOptions.forEach((option, index) => {

                                                var label = $('<h5>');
                                                label.attr('style', 'color:white;margin-top:10px');
                                                label.html(option.name);
                                                var checkbox = $('<input>');
                                                checkbox.attr('style', 'margin-left: 10px');
                                                checkbox.attr('type', 'checkbox');
                                                checkbox.attr('name', option.categoryId);
                                                checkbox.attr('value', option.name);




                                                console.log(option.categoryId);
                                                console.log(option.name);
                                                label.append(checkbox);

                                                checkboxOptions.append(label);

                                                // Thêm dòng mới trừ trường hợp cuối cùng

                                            });

                                            // Danh sách lựa chọn mới đã thêm vào
                                            const newOptions = [];

                                            // Xử lý sự kiện khi người dùng nhấn nút "Mở Form"
                                            openFormButton.addEventListener('click', () => {
                                                checkboxForm.style.display = 'block';

                                                // Cập nhật danh sách checkbox
                                                updateCheckboxList();
                                            });

                                            // Xử lý sự kiện khi người dùng nhấn nút "Đóng"
                                            closeFormButton.addEventListener('click', () => {
                                                checkboxForm.style.display = 'none';
                                            });

                                            // Xử lý sự kiện khi người dùng nhấn nút "Chọn xong"
                                            submitButton.addEventListener('click', (e) => {
                                                e.preventDefault();

                                                // Lấy danh sách các ô đánh dấu đã được chọn
                                                const selectedCheckboxes = checkboxForm.querySelectorAll('input[type="checkbox"]:checked');

                                                // Lặp qua các ô đánh dấu đã chọn và lưu giá trị vào mảng
                                                const selectedValuesCategory = [];
                                                const selectedIdCategory = [];
                                                selectedCheckboxes.forEach((checkbox) => {
                                                    selectedValuesCategory.push(checkbox.value);
                                                    selectedIdCategory.push(checkbox.name);
                                                });
                                                // Hiển thị các giá trị đã chọn lên trang web
                                                if (selectedValuesCategory.length === 0) {
                                                    selectedOptions.textContent = 'Không có lựa chọn nào được chọn.';
                                                } else {
                                                    selectedOptions.textContent = selectedValuesCategory.join(', ');
                                                }
                                                //selectedOptions.textContent = selectedValuesCategory.join(', ');
                                                var inputElement = document.getElementById("category-movie");

                                                // Gán giá trị cho thẻ input
                                                inputElement.value = selectedIdCategory;
                                                // Ẩn form đi sau khi hoàn thành
                                                checkboxForm.style.display = 'none';
                                            });

                                            // Cập nhật danh sách checkbox
                                            function updateCheckboxList() {
                                                // Xóa tất cả các checkbox hiện có
                                                checkboxOptions.innerHTML = '';

                                                // Thêm các checkbox từ danh sách đã có
                                                existingOptions.forEach((option) => {
                                                    const label = document.createElement('h5');
                                                    const checkbox = document.createElement('input');
                                                    checkbox.type = 'checkbox';
                                                    checkbox.name = option;
                                                    checkbox.value = option;
                                                    label.append(checkbox, document.createTextNode(option));
                                                    checkboxOptions.append(label);
                                                });
                                            }
                                        </script>
                                        <br>
                                    <div class="row">
                                    <div class="col-lg-3">
                                        <h5 style="color:white">Số tập phim: </h5>
                                    </div>
                                    <div class="col-lg-9">
                                       <input style="margin-right : 10px;" type="number" id="NofE" name="NofE" placeholder="Nhập số tập phim" min="1" required>
                                    </div>
                                    </div>
                                    <br>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <h5 style="color:white">Diễn viên:</h5>
                                            </div>

                                            <a href="#" style="max-height: 30.8px;border: 3px solid #fff; padding: 1px; text-decoration: none;color : #fff; margin-right: 10px; margin-left: 15px" id="openFormActor">Chọn</a>
                                            <div id="checkboxActor">
                                                <div class="form-content">
                                                    <div class="form-header">
                                                        <h2 style=" margin-right: 10px">Chọn diễn viên  </h2>
                                                        <a href="#" id="close-form-Actor-button" style="border: 3px solid #fff;border-radius: 50%;padding: 10px; text-decoration: none;color : #fff" >X</a>
                                                    </div>
                                                    <div id="checkboxActor-options">
                                                    </div>
                                                    <input type="text" id="actor-movie" name="actor-movie" hidden="hidden" required>
                                                    <div class="row" style="justify-content: center; align-items: center;margin-top:20px; ">
                                                        <a href="#"  id="submitActor-button" style="border: 3px solid #fff; padding: 5px; text-decoration: none;color : #fff">Chọn xong</a>
                                                    </div>
                                                    <p class="error-Actor" id="error-Actor" hidden="hidden" ></p>
                                                </div>

                                    </div>
                                            <span>
                                            <div id="selected-Actor-options" style="color : white; display: flex; width : 500px;margin-right : 10px"></div>
                                                </span>

                                    </div>
                                    <br>
                                        <script th:inline="javascript">
                                            // Lấy tham chiếu đến các phần tử DOM
                                            const openFormActorButton = document.getElementById('openFormActor');
                                            const checkboxActorForm = document.getElementById('checkboxActor');
                                            var checkboxActorOptions = $("#checkboxActor-options");
                                            const submitActorButton = document.getElementById('submitActor-button');
                                            const selectedActorOptions = document.getElementById('selected-Actor-options');
                                            const errorActorMessage = document.getElementById('error-Actor');
                                            const closeFormActorButton = document.getElementById('close-form-Actor-button');

                                            // Danh sách lựa chọn đã có
                                            const existingActorOptions = /*[[${persons}]]*/;
                                            selectedActorOptions.textContent = 'Vui lòng chọn ít nhất 1 diễn viên.';

                                            // Lặp qua danh sách lựa chọn đã có và tạo các checkbox tương ứng
                                            checkboxActorOptions.empty();
                                            existingActorOptions.forEach((option, index) => {

                                                var labelActor = $('<h5>');
                                                labelActor.attr('style', 'color:white;margin-top:10px');
                                                labelActor.html(option.name);
                                                var checkbox = $('<input>');
                                                checkbox.attr('style', 'margin-left: 10px');
                                                checkbox.attr('type', 'checkbox');
                                                checkbox.attr('name', option.person_id);
                                                checkbox.attr('value', option.name);
                                                console.log(option.person_id);
                                                console.log(option.name);
                                                labelActor.append(checkbox);


                                                checkboxActorOptions.append(labelActor);

                                                // Thêm dòng mới trừ trường hợp cuối cùng

                                            });

                                            // Danh sách lựa chọn mới đã thêm vào
                                            const newActorOptions = [];

                                            // Xử lý sự kiện khi người dùng nhấn nút "Mở Form"
                                            openFormActorButton.addEventListener('click', () => {
                                                checkboxActorForm.style.display = 'block';

                                                // Cập nhật danh sách checkbox
                                                updateCheckboxList();
                                            });

                                            // Xử lý sự kiện khi người dùng nhấn nút "Đóng"
                                            closeFormActorButton.addEventListener('click', () => {
                                                checkboxActorForm.style.display = 'none';
                                            });


                                            // Xử lý sự kiện khi người dùng nhấn nút "Chọn xong"
                                            submitActorButton.addEventListener('click', (e) => {
                                                e.preventDefault();

                                                // Lấy danh sách các ô đánh dấu đã được chọn
                                                const selectedActorCheckboxes = checkboxActorForm.querySelectorAll('input[type="checkbox"]:checked');

                                                // Lặp qua các ô đánh dấu đã chọn và lưu giá trị vào mảng
                                                const selectedValuesActor = [];
                                                const selectedIdActor = [];
                                                selectedActorCheckboxes.forEach((checkbox) => {
                                                    selectedValuesActor.push(checkbox.value);
                                                    selectedIdActor.push(checkbox.name);
                                                });

                                                // Hiển thị các giá trị đã chọn lên trang web
                                                if (selectedValuesActor.length === 0) {
                                                    selectedActorOptions.textContent = 'Vui lòng chọn ít nhất 1 diễn viên.';
                                                } else {
                                                    selectedActorOptions.textContent = selectedValuesActor.join(', ');
                                                }
                                                //selectedActorOptions.textContent = selectedValuesActor.join(', ');
<!--                                                console.log(selectedValuesActor);-->

                                                var inputElement = document.getElementById("actor-movie");

                                                // Gán giá trị cho thẻ input
                                                inputElement.value = selectedIdActor;
<!--                                                alert(document.getElementById("actor-movie").value);-->
                                                // Ẩn form đi sau khi hoàn thành
                                                checkboxActorForm.style.display = 'none';
                                            });

                                            // Cập nhật danh sách checkbox
                                            function updateCheckboxList() {
                                                // Xóa tất cả các checkbox hiện có
                                                checkboxOptions.innerHTML = '';

                                                // Thêm các checkbox từ danh sách đã có
                                                existingActorOptions.forEach((option) => {
                                                    const labelActor = document.createElement('h5');
                                                    const checkbox = document.createElement('input');
                                                    checkbox.type = 'checkbox';
                                                    checkbox.name = option;
                                                    checkbox.value = option;

                                                    labelActor.appendChild(checkbox);
                                                    labelActor.appendChild(document.createTextNode(option));
                                                    checkboxActorOptions.appendChild(labelActor);
                                                });


                                            }
                                        </script>
                                    </ul>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <h5 style="color:white">Nội dung phim:</h5>
                                </div>

                                    <textarea type="text" id ="movieContent" name ="movieContent"  rows="4" style="flex: 1;resize: none;border-radius: 10px;margin-left: 10px;"></textarea>
                            </div>

                            </div>

                        </div>

                        <div class="anime__details__btn" style="display: flex;justify-content: center">
                            <button type="submit" class="follow-btn"><i class="fa fa-floppy-o"></i> Lưu</button>

                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</section>
<!-- Anime Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="./index.html"><img src="img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a href="./index.html">Homepage</a></li>
                        <!--<li><a href="./categories.html">Categories</a></li>
                        <li><a href="./blog.html">Our Blog</a></li>
                        <li><a href="#">Contacts</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->

<!-- Js Plugins -->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/player.js}"></script>
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/mixitup.min.js}"></script>
<script th:src="@{/js/jquery.slicknav.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>

</html>