<!-- Header Section Begin no user-->
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<header class="header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="/home" >
                        <img src="/img/logo1.png" alt="" style="height:30px;width:40px;margin-left:50px">
                    </a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/home">Homepage</a></li>
                            <li><a href="./categories.html">Categories<span class="arrow_carrot-down"></span></a>
                                <ul class="dropdown">
                                    <li><a href="./categories.html">Categories</a></li>
                                    <li><a href="./anime-details.html">Anime Details</a></li>
                                    <li><a href="./anime-watching.html">Anime Watching</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                    <li><a href="./signup.html">Sign Up</a></li>
                                    <li><a href="./login.html">Login</a></li>
                                </ul>
                            </li>
                            <div style="display:inline-block;" th:if="${session.user != null && session.user.role.roleId == 1}" >
                            <li><a href="./blog.html">Our Blog</a></li>
                                <li><a th:href="@{/actors}">Actors</a></li>
                            </div>
                            <!--công việc cho từng đối tượng-->
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-3">
<!--                <div class="header__right">-->
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul style="display:flex; list-style:none;">
                                <li><a href="#" class="search-switch"><span class="icon_search"></span></a></li>
                                <li><a href="/login"  th:if="${session.user == null}">
                                    <span class="icon_profile"></span></a></li>
                               <div th:if="${session.user != null}" >
                                   <li><a th:href="@{/user-information}"><span class="icon_profile"></span></a>
                                   <li><a th:text="${session.user.userName}"><span class="arrow_carrot-down"></span></a>
                                   <ul class="dropdown">
                                               <!-- nếu là admin thì co the tao tai khoan admin moi-->
                                       <div th:if="${session.user.role.roleId == 1}">
                                           <li><a th:href="@{/create-account-admin}">Create Account</a></li>

                                       </div>

                                       <li><a th:href="@{/change-pass}" style="font-size: 12px;">Change Password</a></li>
                                       <li><a th:href="@{/my-collection}" style="font-size: 12px;">My Collection</a></li>
                                       <li><a th:href="@{/logout}">Log Out</a></li>
                                   </ul>
                                    </li>
                               </div>
                            </ul>
                        </nav>
                    </div>
<!--                </div>-->
            </div>
        </div>
        <!--<div id="mobile-menu-wrap"></div>-->
    </div>
</header>
<!-- Header End -->