<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <!-- Google Font -->
    <link th:href="@{https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap}" rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap}"
    rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/plyr.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <div th:insert="~{header.html}"></div>

    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" data-setbg="img/normal-breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Login</h2>
                        <p>Welcome to the official Anime blog.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->

    <!-- Login Section Begin -->
    <section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <form id="loginForm" th:action="@{/login}" th:object="${user}" method="post" onsubmit="return checkLogin()" tyle="display: block;">
                            <h3>Login</h3>
                            <div class="input__item">
                                <input type="text" placeholder="Username" name="username" id="username" th:field="*{userName}">
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input type="password" placeholder="Password" name="password"  id="password" th:field="*{password}">
                                <span class="icon_lock"></span>
                            </div>
                            <div class="input__item" id="errorLogin" style="color:red;" th:text="${errorLogin}">
                            </div>
                            <button id="buttonLogin" type="submit" class="site-btn">Login Now</button>
                            <a id="forgotPasswordLink" href="forgotPassword" class="forget_pass">Forgot Your Password?</a>
                        </form>

                        <!--phấn form đăng kí-->
                        <form id="registerForm" th:action="@{/register}" th:object="${user}" method="post" style="display: none;" onsubmit="return validationPass()">
                            <h3>Register</h3>
                            <!-- Thêm các trường và nút submit của form đăng ký -->
                            <div class="input__item">
                                <input type="text" placeholder="User Name" name="userName" required th:field="*{userName}">
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="Full Name" name="fullName" required th:field="*{name}">
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="Email address" name="email" required th:field="*{email}">
                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item">
                                <input type="password" placeholder="Password" name="password" id="passwordRegister" required th:field="*{password}">
                                <span class="icon_lock"></span>
                            </div>
                            <div class="input__item">
                                <input type="password" placeholder="Retype Password" name="retypePassword" id="retypePasswordRegister" oninput="checkPasswordsMatch()" required>
                                <span class="icon_lock"></span>
                            </div>
                            <div class="input__item" th:text="${errorRegister}" style="color:red;"></div>
                            <div class="input__item" id="passwordMessage" style="color:red;"></div>
                            <button id="registerLogin" type="submit" class="site-btn" onsubmit="">Register Now</button>
                        </form>

                        <!--phan form submit email quen mat khau-->
                        <form id="submitEmailForm" th:action="@{/reset-password}" method="post" style="display: none;">
                            <h3>Forgot Password</h3>
                            <div class="input__item">
                                <input type="text" placeholder="User name" name="userNameF" required id="userForgotPass">
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="Email address" name="emailF" required id="emailForgotPass">
                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item" id="errorF" style="color:red;"></div>
                            <div class="input__item" id="errorEmailForgotPass" style="color:red;"></div>
                            <div class="input__item" style="display: none" id="divCodeEmail">
                                <input type="text" placeholder="Please enter code" name="code" id="code" required>
                            </div>
                            <div class="input__item" id="errorC" style="color:red;"></div>
                            <button id="submitEmailButton" type="submit" class="site-btn" style="display: block">Send code to Email</button>
                            <button id="confirmCodeButton" type="submit" class="site-btn" style="display: none">Confirm</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login__register" id="divNoAccount" style="display: block">
                        <h3>Dont’t Have An Account?</h3>
                        <button id="registerLink" type="button" class="site-btn">Register Now</button>
                    </div>

                    <div class="login__register" id="divHaveAccount" style="display: none">
                        <h3>You Have An Account?</h3>
                        <button id="loginLink" type="button" class="site-btn">Login Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="errorRegister" th:if="${errorRegister}">
            <script th:inline="javascript">
                /*<![CDATA[*/
                var errorMessage = [[${errorRegister}]];
                alert(errorMessage);
                /*]]>*/
                 window.location.href = '/login';
            </script>
        </div>
    </section>
    <!-- Login Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="../static/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul>
                            <li class="active"><a href="./index.html">Homepage</a></li>
                            <li><a href="./categories.html">Categories</a></li>
                            <li><a href="./blog.html">Our Blog</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

                  </div>
              </div>
          </div>
      </footer>
      <!-- Footer Section End -->

      <!-- Search model Begin -->
      <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/player.js}"></script>
    <script th:src="@{/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/mixitup.min.js}"></script>
    <script th:src="@{/js/jquery.slicknav.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>


    <script>
        $(document).ready(function() {
            var generatedCode;
            $("#submitEmailButton").click(function(event) {
                event.preventDefault(); // Ngăn form gửi đi một cách thông thường
                var formData = new FormData($("#submitEmailForm")[0]);
                $.ajax({
                    type: "POST",
                    url: "/send-email",
                    data: formData,
                    contentType: false, // Không cần set contentType khi sử dụng FormData
                    processData: false, // Không cần xử lý dữ liệu
                    success: function(response) {
                        if(response === 'Please enter correct username and email'){
                            document.getElementById('errorF').innerHTML = 'Please enter correct username and email';
                            document.getElementById('submitEmailButton').style.display = 'block';
                            document.getElementById('divCodeEmail').style.display = 'none';
                            document.getElementById('confirmCodeButton').style.display = 'none';
                        } else {
                            document.getElementById('errorF').innerHTML = '';
                            generatedCode = response;
                            document.getElementById('submitEmailButton').style.display = 'none';
                            document.getElementById('divCodeEmail').style.display = 'block';
                            document.getElementById('confirmCodeButton').style.display = 'block';
                        }

                    },
                    error: function(error) {
                        // Xử lý lỗi (nếu có)
                        alert('error')
                    }
                });
            });
            $("#confirmCodeButton").click(function(event) {
                event.preventDefault();
                var userEnteredCode = $("#code").val();
                if (generatedCode === userEnteredCode) {
                    // Mã trùng khớp, cho phép submit form
                    $("#submitEmailForm").submit();
                    document.getElementById('errorC').innerHTML = '';
                    alert('Please check your email!')

                } else {
                    document.getElementById('errorC').innerHTML = 'Please enter correct code';
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            // Lấy tham chiếu đến các phần tử
            var registerLink = document.getElementById('registerLink');
            var registerForm = document.getElementById('registerForm');
            var loginForm = document.getElementById('loginForm');
            var divNoAccount = document.getElementById('divNoAccount');
            var divHaveAccount = document.getElementById('divHaveAccount');
            var forgotPasswordLink = document.getElementById('forgotPasswordLink');
            var submitEmailForm = document.getElementById('submitEmailForm');
            var submitEmailButton = document.getElementById('submitEmailButton');
            var confirmCodeButton = document.getElementById('confirmCodeButton');
            var divCodeEmail = document.getElementById('divCodeEmail');


            //click register
            registerLink.addEventListener('click', function(e) {
                e.preventDefault(); // Ngăn chặn hành động mặc định của link
                registerForm.style.display = 'block';
                loginForm.style.display = 'none';
                divNoAccount.style.display = 'none'
                divHaveAccount.style.display = 'block'
                submitEmailForm.style.display = 'none'
            });

            // khi click vào login
            loginLink.addEventListener('click', function(e) {
                e.preventDefault(); // Ngăn chặn hành động mặc định của link
                registerForm.style.display = 'none';
                loginForm.style.display = 'block';
                divNoAccount.style.display = 'block'
                divHaveAccount.style.display = 'none'
                submitEmailForm.style.display = 'none'
            });

            //click forgot pass
            forgotPasswordLink.addEventListener('click', function(e) {
                e.preventDefault(); // Ngăn chặn hành động mặc định của link
                registerForm.style.display = 'none';
                loginForm.style.display = 'none';
                divNoAccount.style.display = 'block'
                divHaveAccount.style.display = 'none'
                submitEmailForm.style.display = 'block'
                confirmCodeButton.style.display = 'none'
                submitEmailButton.style.display = 'block'
                divCodeEmail.style.display = 'none'
            });

            //click send email
            submitEmailButton.addEventListener('click', function(e) {
                e.preventDefault(); // Ngăn chặn hành động mặc định của link
                var str = document.getElementById('emailForgotPass').value; //check xem da nhap email chua
                var errorEmailForgotPass = document.getElementById('errorEmailForgotPass');
                if(str === ''){
                    errorEmailForgotPass.style.display = 'block'
                    errorEmailForgotPass.innerHTML = 'Please enter email';
                } else {
                    registerForm.style.display = 'none';
                    loginForm.style.display = 'none';
                    divNoAccount.style.display = 'block'
                    divHaveAccount.style.display = 'none'
                    submitEmailForm.style.display = 'block'
                    errorEmailForgotPass.style.display = 'none'
                }

            });
        });
    </script>
</body>

</html>