<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <!-- Google Font -->
    <link th:href="@{https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap}" rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap}"
    rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/plyr.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <div th:insert="~{header.html}"></div>

    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" data-setbg="img/normal-breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Login</h2>
                        <p>Welcome to the movie web</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->

    <!-- Login Section Begin -->
    <section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <form id="loginForm" th:action="@{/login}" class="user" method="POST" onsubmit="return checkLogin()" style="display: block;">
                            <h3>Login</h3>
                            <div th:if="${param.error}"
                                 class="alert alert-warning alert-dismissible fade show"
                                 role="alert" style="width: 370px">
                                <strong>Tên đăng nhập hoặc mật khẩu không chính xác!</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="Username" name="username" id="username">
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input type="password" placeholder="Password" name="password"  id="password">
                                <span class="icon_lock"></span>
                            </div>
                            <div class="input__item" id="errorLogin" style="color:red;" th:text="${errorLogin}">
                            </div>
                            <button id="buttonLogin" type="submit" class="site-btn">Login Now</button>
                            <button id="testAPI" type="submit" class="site-btn">Test API</button>
                            <a id="forgotPasswordLink" href="forgotPassword" class="forget_pass">Forgot Your Password?</a>
                        </form>

                        <!--phấn form đăng kí-->
                        <form id="registerForm" th:action="@{/register}" method="post" style="display: none;" onsubmit="return validationPass()" enctype="multipart/form-data">
                            <h3>Register</h3>
                            <!-- Thêm các trường và nút submit của form đăng ký -->
                            <div class="input__item">
                                <input type="text" placeholder="User Name" name="userName" required>
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="Full Name" name="fullName" required>
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="Email address" name="email" required>
                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item">
                                <input type="password" placeholder="Password" name="password" id="passwordRegister" required>
                                <span class="icon_lock"></span>
                            </div>
                            <div class="input__item">
                                <input type="password" placeholder="Retype Password" name="retypePassword" id="retypePasswordRegister" oninput="checkPasswordsMatch()" required>
                                <span class="icon_lock"></span>
                            </div>
                            <div>
                                <img id="selectedImage" th:src="@{/img/user/default.jpg}" alt="Selected Image" style="max-width: 300px; display: block;">
                                <input type="file" name="imageInput" id="imageInput" accept="image/*">
                            </div>
                            <div class="input__item" th:text="${errorRegister}" style="color:red;"></div>
                            <div class="input__item" id="passwordMessage" style="color:red;"></div>
                            <button id="registerLogin" type="submit" class="site-btn" onsubmit="">Register Now</button>
                        </form>

                        <!--phan form submit email quen mat khau-->
                        <form id="submitEmailForm" th:action="@{/reset-password}" method="post" style="display: none;">
                            <h3>Forgot Password</h3>
                            <div class="input__item">
                                <input type="text" placeholder="User name" name="userNameF" required id="userForgotPass">
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="Email address" name="emailF" required id="emailForgotPass">
                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item" id="errorF" style="color:red;"></div>
                            <div class="input__item" id="errorEmailForgotPass" style="color:red;"></div>
                            <div class="input__item" style="display: none" id="divCodeEmail">
                                <input type="text" placeholder="Please enter code" name="code" id="code" required>
                            </div>
                            <div class="input__item" id="errorC" style="color:red;"></div>
                            <button id="submitEmailButton" type="submit" class="site-btn" style="display: block">Send code to Email</button>
                            <button id="confirmCodeButton" type="submit" class="site-btn" style="display: none">Confirm</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login__register" id="divNoAccount" style="display: block">
                        <h3>Don’t Have An Account?</h3>
                        <button id="registerLink" type="button" class="site-btn">Register Now</button>
                    </div>

                    <div class="login__register" id="divHaveAccount" style="display: none">
                        <h3>You Have An Account?</h3>
                        <button id="loginLink" type="button" class="site-btn">Login Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="errorRegister" th:if="${errorRegister}">
            <script th:inline="javascript">
                /*<![CDATA[*/
                var errorMessage = [[${errorRegister}]];
                alert(errorMessage);
                /*]]>*/
                 window.location.href = '/login';
            </script>
        </div>
    </section>
    <!-- Login Section End -->

    <!-- Footer Section Begin -->
    <div th:insert="~{footer.html}"></div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/player.js}"></script>
    <script th:src="@{/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/mixitup.min.js}"></script>
    <script th:src="@{/js/jquery.slicknav.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    <script th:src="@{/js/login.js}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>

</body>

</html>