<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime | Template</title>

    <!-- Google Font -->
    <link th:href="@{https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap}" rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap}"
          rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/plyr.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <div th:insert="~{header.html}"></div>

    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a style="display:inline-block;" href="/home"><i class="fa fa-home"></i> Home</a>
                        <a style="display:inline-block;" href="javascript:void(0);" th:text="${movie.get('country')}"></a>
                        <a th:href="'/movie?id='+${movie.get('movie_id')}" style="display:inline-block;" th:text="${movie.get('name')}"></a>
                        <span>watching</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Modal -->
    <div class="modal fade" id="popUp" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Notification</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Last time you watched, you watched until minute 5. Do you want to continue watching?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
                    <button type="button" class="btn btn-default" id="keepWatching">Keep Watching</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="anime__video__player">
                        <video id="player" playsinline controls data-poster="./videos/anime-watch.jpg">
                            <source th:src="'../videos/'+${ep.get('source')}" type="video/mp4"/>
                            <!-- Captions are optional -->
                            <track kind="captions" label="English captions" src="#" srclang="en" default />
                        </video>
                    </div>
                    <div class="row justify-content-center">
                    <div class="anime__details__episodes ">
                        <div class="anime__details__btn">
                            <input type="hidden" id="isFl" th:value="${isFollowing}">
                            <a class="follow-btn" id="Follow" ><i class="fa fa-heart-o"></i> Follow</a>
                            <a class="follow-btn" id="unFollow"><i class="fa fa-heart"></i> UnFollow</a>

                        </div>
                    </div>
                    </div>
                    <div class="anime__details__episodes">
                        <div class="section-title">
                            <h5>List Name</h5>
                        </div>
                        <a th:each="e : ${listEp}" th:href="@{../movie-watching(id=${e.get('movie_id')},episode=${e.get('episode')})}" th:text="${e.get('name')}"></a>

                    </div>
                </div>
            </div>
            <div class = "row">
                <div class="col-lg-8 col-md-8">

                    <div class="anime__details__review" >
                        <div class="section-title">
                            <h5>Reviews</h5>
                        </div>
                        <div id = "commentList">
                            <div class="anime__review__item"  th:each="cm:${listComment}">
                                <div class="anime__review__item__pic">
                                    <img th:src="'../img/user/'+${cm.get('avatar')}" alt="">
                                </div>
                                <div class="anime__review__item__text">
                                    <div class="row">
                                        <h6 th:text="${cm.get('name')}+' - '"></h6>
                                        <p th:text="${cm.get('day_cm')}"></p>
                                        <div class="rating">
                                            <a href="javascript:void(0);"
                                               th:each="number : ${#numbers.sequence(1, 5)}"
                                            ><i th:class="${number <= cm.get('value') ? 'fa fa-star':'fa fa-star-o'}"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <p th:text="${cm.get('comment')}"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div id="totalPageEl" th:data-value="${totalPage}"></div>
                        <input type="hidden" id="currentPage" th:value="${currentPage}" />
                        <div class="product__pagination" >
                            <div class="row" id="paginationContainer">
                                <a th:class="${currentPage == 0 ? 'disabled' : 'page1'}"
                                   th:data-value="${currentPage-1}"><i class="fa fa-angle-double-left"></i></a>
                                <div th:if="${currentPage > 1}">
                                    <a class="page1"  th:data-value="0">1</a>
                                    <a class="disabled">...</a>
                                </div>
                                <div th:each="i : ${pages}">
                                    <a th:class="${currentPage == i ? 'current-page' : ''} +' page1'"
                                       th:data-value="${i}"  th:text = "${i + 1}">
                                    </a>
                                </div>
                                <div th:if="${currentPage < totalPage - 2}">
                                    <a class="disabled">...</a>
                                    <a class="page1" th:data-value="${totalPage-1}"href="#" th:text=" ${totalPage}"></a>
                                </div>
                                <a th:class="${currentPage == totalPage - 1 ? 'disabled' : 'page1'}"
                                   th:data-value="${currentPage+1}" ><i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>



                    <div class="anime__details__form"th:if="${user != null}">
                        <div class="section-title" >
                            <h5>Bình luận của bạn</h5>
                        </div>
                        <div class="anime__review__item" >
                            <div class="anime__review__item__pic">
                                <img src="img/anime/review-1.jpg" alt="">
                            </div>
                            <div class="anime__review__item__text">
                                <div id="userId" th:data-value="${user.getUserId()}"></div>
                                <form action="#">
                                    <h6> <div th:text="${user.getUserName()}"></div>
                                        <div class="rating1">
                                            <span>Vote: </span>
                                            <a href="javascript:void(0);" class="star1" data-value="1"><i
                                                    class="fa fa-star"></i></a>
                                            <a href="javascript:void(0);" class="star1" data-value="2"><i
                                                    class="fa fa-star-o"></i></a>
                                            <a href="javascript:void(0);" class="star1" data-value="3"><i
                                                    class="fa fa-star-o"></i></a>
                                            <a href="javascript:void(0);" class="star1" data-value="4"><i
                                                    class="fa fa-star-o"></i></a>
                                            <a href="javascript:void(0);" class="star1" data-value="5"><i
                                                    class="fa fa-star-o"></i></a>
                                        </div>
                                    </h6>
                                    <input type="text" id="ratingValue" value="1" style="display: none;">
                                    <textarea placeholder="Your comment" id="txtComment"></textarea>
                                    <button type="submit" id="newComment" disabled><i class="fa fa-location-arrow"></i>
                                        Bình luận</button>
                                </form>
                            </div>

                        </div>

                    </div>
                    <div class="login__register" th:if="${user == null}">
                        <h4 style="color: #ffffff;">Đăng nhập để bình luận</h4>
                        <br>
                        <a href="/login" class="primary-btn">Đăng nhập</a>
                    </div>
                </div>


                <div class="col-lg-4 col-md-4">
                    <div class="anime__details__sidebar">
                        <div class="section-title">
                            <h5>you might like...</h5>
                        </div>
                        <div  th:each="y : ${listYouLike}" class="product__sidebar__view__item set-bg"
                              th:data-setbg="'img/movie/'+${y.getImage()}">
                            <div class="ep" th:text="${y.getEpisode()} + '/' + ${y.getEpisodes()}"></div>
                            <div class="view"><i class="fa fa-eye" th:text="${y.getViews()}"></i></div>
                            <h5><a th:href="'movie?id='+${y.getMovie_id()}" th:text="${y.getName()}"></a></h5>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Anime Section End -->

    <!-- Footer Section Begin -->
    <div th:insert="~{footer.html}"></div>

    <!-- Js Plugins -->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/player.js}"></script>
    <script th:src="@{/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/mixitup.min.js}"></script>
    <script th:src="@{/js/jquery.slicknav.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/comment.js}"></script>
    <script th:src="@{/js/follow.js}"></script>
    <script th:src="@{/js/history.js}"></script>

</body>

</html>