<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime | Template</title>

    <!-- Google Font -->
    <link th:href="@{https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap}" rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap}"
          rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/plyr.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js}"></script>

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div th:insert="~{header.html}"></div>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <a href="" ></a>
                        <p th:text="${movie.get('name')}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg" th:attr="data-setbg='../img/trending/'+${movie.get('image')}">
                            <div class="comment"><i class="fa fa-comments" th:text="${movie.get('cm_count')}"></i> </div>
                            <div class="view"><i class="fa fa-eye" th:text="${movie.get('view')}"></i></div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <h3 th:text="${movie.get('name')}"></h3>
                                <span ></span>
                            </div>
                            <div class="anime__details__rating">
                                <div class="rating">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star-half-o"></i></a>
                                </div>
                                <span>1.029 Votes</span>
                            </div>
                            <div th:if="${movie.get('movie_content').equals('')}">
                                <p>Đang cập nhật</p>
                            </div>
                            <div th:else>
                                <p th:text="${movie.get('movie_content')}"></p>
                            </div>

                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Type:</span><h7 th:text="${listCategory}"></h7>
                                            </li>
                                            <li><span>Company:</span> <h7 th:text="${listCompany}"></h7>
                                            </li>
                                            <li><span>Language: </span> <h7 th:text="${listLanguage}"></h7>
                                            </li>
                                            <li><span>Status:</span> <h7 th:text="${movie.get('episode') +'/'+movie.get('episodes') }"></h7>
                                            </li>
                                            <li ><span>Tags:</span>
                                                <div class="blog__details__tags">
                                                    <a href="#">Healthfood</a>
                                                    <a href="#">Sport</a>
                                                    <a href="#">Game</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Country: </span><h7 th:text="${movie.get('country')}"></h7></li>
                                            <li><span>Rating:</span> 8.5 / 161 times</li>
                                            <li><span>Duration:</span> 24 min/ep</li>
                                            <li><span>Quality:</span> HD</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="anime__details__btn">


                                <input type="hidden" id="isFl" th:value="${isFollowing}">
                                <a th:href="@{/add-collection(id=${movie.get('movie_id')})}" class="follow-btn" id="Follow" ><i class="fa fa-heart-o"></i> Follow</a>
                                <a th:href="@{/rmv-collection(id=${movie.get('movie_id')})}" class="follow-btn" id="unFollow"><i class="fa fa-heart"></i> UnFollow</a>
                                <a th:href="'../movie-watching'+'?id='+${movie.get('movie_id')}+'&episode='" class="watch-btn"><span>Watch Now</span>
                                    <i class="fa fa-angle-right"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="section-title">
                            <h5>Danh sách diễn viên</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-1" th:each="p:${listPerson}">
                                <div class="card h-100 d-flex align-items-center border-0" style="background: #0b0c2a;">
                                    <a href="#">
                                        <img th:src="'../../img/person/'+${p.get('image')}" class="card-img-top" alt="..." style="height: 50px;
                                    width: 50px;
                                    border-radius: 50%;">
                                    </a>
                                    <div class="card-body">
                                        <a href="#">
                                            <h5 class="card-title" style="color: #ffffff;" th:text="${p.get('name')}"></h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "row">
                    <div class="col-lg-8 col-md-8">

                        <div class="anime__details__review" >
                            <div class="section-title">
                                <h5>Reviews</h5>
                            </div>
                            <div id = "commentList">
                                <div class="anime__review__item"  th:each="cm:${listComment}">
                                    <div class="anime__review__item__pic">
                                        <img th:src="'../img/user/'+${cm.get('avatar')}" alt="">
                                    </div>
                                    <div class="anime__review__item__text">
                                        <div class="row">
                                            <h6 th:text="${cm.get('name')}+' - '"></h6>
                                                <p th:text="${cm.get('day_cm')}"></p>
                                            <div class="rating">
                                                <a href="javascript:void(0);"
                                                   th:each="number : ${#numbers.sequence(1, 5)}"
                                                ><i th:class="${number <= cm.get('value') ? 'fa fa-star':'fa fa-star-o'}"></i>
                                                </a>
                                             </div>
                                        </div>
                                        <p th:text="${cm.get('comment')}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div id="totalPageEl" th:data-value="${totalPage}"></div>
                            <input type="hidden" id="currentPage" th:value="${currentPage}" />
                            <div class="product__pagination" >
                                <div class="row" id="paginationContainer">
                                    <a th:class="${currentPage == 0 ? 'disabled' : ''} +' page1'"
                                   href="#" th:data-value="${currentPage-1}"><i class="fa fa-angle-double-left"></i></a>
                                    <div th:if="${currentPage > 1}">
                                        <a class="page1" href="#" th:data-value="0">1</a>
                                        <a class="disabled">...</a>
                                    </div>
                                    <div th:each="i : ${pages}">
                                        <a th:class="${currentPage == i ? 'current-page' : ''} +' page1'"
                                           th:data-value="${i}" href="#" th:text = "${i + 1}">
                                        </a>
                                    </div>
                                <div th:if="${currentPage < totalPage - 2}">
                                    <a class="disabled">...</a>
                                    <a class="page1" th:data-value="${totalPage-1}"href="#" th:text=" ${totalPage}"></a>
                                </div>
                                <a th:class="${currentPage == totalPage - 1 ? 'disabled' : ''} +' page1'"
                                   th:data-value="${currentPage+1}" href="#"><i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>



                        <div class="anime__details__form">
                            <div class="section-title">
                                <h5>Your Comment</h5>
                            </div>
                            <div class="anime__review__item">
                                <div class="anime__review__item__pic">
                                    <img src="img/anime/review-1.jpg" alt="">
                                </div>
                                <div class="anime__review__item__text">
                                    <form action="#">
                                        <h6>User Name
                                            <div class="rating1">
                                                <span>Vote: </span>
                                                <a href="javascript:void(0);" class="star1" data-value="1"><i
                                                        class="fa fa-star-o"></i></a>
                                                <a href="javascript:void(0);" class="star1" data-value="2"><i
                                                        class="fa fa-star-o"></i></a>
                                                <a href="javascript:void(0);" class="star1" data-value="3"><i
                                                        class="fa fa-star-o"></i></a>
                                                <a href="javascript:void(0);" class="star1" data-value="4"><i
                                                        class="fa fa-star-o"></i></a>
                                                <a href="javascript:void(0);" class="star1" data-value="5"><i
                                                        class="fa fa-star-o"></i></a>
                                            </div>
                                        </h6>
                                        <input type="text" id="ratingValue" value="0" style="display: none;">
                                        <textarea placeholder="Your comment" id="txtComment"></textarea>
                                        <button type="submit" id="newComment" disabled><i class="fa fa-location-arrow"></i>
                                            Review</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="anime__details__sidebar">
                            <div class="section-title">
                                <h5>you might like...</h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-1.jpg">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">Boruto: Naruto next generations</a></h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-2.jpg">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-3.jpg">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">Sword art online alicization war of underworld</a></h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-4.jpg">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">Fate/stay night: Heaven's Feel I. presage flower</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!-- Anime Section End -->

        <!-- Footer Section Begin -->
        <footer class="footer">
            <div class="page-up">
                <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer__nav">
                            <ul>
                                <li class="active"><a href="./index.html">Homepage</a></li>
                                <li><a href="./categories.html">Categories</a></li>
                                <li><a href="./blog.html">Our Blog</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

                      </div>
                  </div>
              </div>
          </footer>
          <!-- Footer Section End -->

          <!-- Search model Begin -->
          <div class="search-model">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="search-close-switch"><i class="icon_close"></i></div>
                <form class="search-model-form">
                    <input type="text" id="search-input" placeholder="Search here.....">
                </form>
            </div>
        </div>
        <!-- Search model end -->

        <!-- Js Plugins -->


    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/player.js}"></script>
    <script th:src="@{/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/mixitup.min.js}"></script>
    <script th:src="@{/js/jquery.slicknav.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/comment.js}"></script>
    <script>
        $(document).ready(function() {
            var isFollowing = document.getElementById('isFl').value;
            if (isFollowing === 'true') {
                $('#Follow').hide();
                $('#unFollow').show();
            } else if(isFollowing === 'false'){
                $('#Follow').show();
                $('#unFollow').hide();
            } else if(isFollowing === 'nouser'){
                $('#Follow').hide();
                $('#unFollow').hide();
            }
        });
    </script>

    <script>
        $(document).ready(function(){
            $("#Follow").click(function(event){
                event.preventDefault();
                var currentURL = window.location.href;
                var urlObject = new URL(currentURL);
                var movieId = urlObject.searchParams.get("id");
                $.ajax({
                    type: 'POST',
                    url: '/add-collection/' + movieId,
                    contentType: 'application/json',
                    success: function(data){
                        $('#Follow').hide();
                        $('#unFollow').show();
                    },
                    error: function(error){
                        console.log(error)
                    }
                });
            });
            $("#unFollow").click(function(event){
                event.preventDefault();
                var currentURL = window.location.href;
                var urlObject = new URL(currentURL);
                var movieId = urlObject.searchParams.get("id");
                $.ajax({
                    type: 'POST',
                    url: '/rmv-collection/' + movieId,
                    contentType: 'application/json',
                    success: function(data){
                        $('#Follow').show();
                        $('#unFollow').hide();
                    },
                    error: function(error){
                        console.log(error)
                    }
                });
            });
        });
    </script>

    </body>

    </html>